<HTMLQuestion xmlns="http://mechanicalturk.amazonaws.com/AWSMechanicalTurkDataSchemas/2011-11-11/HTMLQuestion.xsd">
 <HTMLContent>
    <![CDATA[
     <!DOCTYPE html>
     <html>
       <head>
         <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
         <script type='text/javascript' src='https://s3.amazonaws.com/mturk-public/externalHIT_v1.js'></script>
         <script src="https://assets.crowd.aws/crowd-html-elements.js"></script>
       </head>



    <body>
    <style type="text/css">
        form {
          margin: auto;
          width: 75%;
        }

        hr {
          border-top: 1px solid #838b8b;
        }

        ul {
          list-style: none;
          padding: 0;
          margin: 30px 0 0 0;
          text-align: right;
        }

        .questionBody {
          margin: 0 0 30px 50px;
        }

        .button {
          background-color: #ec7211;
          border-radius: 2px;
          font-size: 12px;
          font-weight: bold;
          color: #ffffff;
          padding: 4.8px 22.4px 4.8px 22.4px;
          cursor: pointer;
          max-width: 100px;
          margin-bottom: 5px;
          text-align: center;
        }

        .inspiration {
          float: right;
          margin-bottom: 0;
        }

        #warning {
          color: red;
          padding-left: 5px;
        }

        .morallyWrong {
          border: 5px solid red;
          border-radius: 5px;
          padding: 5px;
          margin: 10px 0 10px 0;
        }

        .morallyCorrect {
          border: 5px solid green;
          border-radius: 5px;
          padding: 5px;
          margin: 10px 0 10px 0
        }

        .buttonContainer {
          width: 100%;
        }

        .buttonAndContentContainer {
          width: 50%;
          float: left;
          min-height: 100px;
        }
      </style>
      

    <crowd-form>
          <!--<crowd-instructions link-text="View instructions" link-type="button">-->
          <!--    <short-summary>-->
          <!--        <h3>Description</h3>-->
          <!--          <p> </p>-->
          <!--    </short-summary>-->
          <!--    <detailed-instructions>-->
          <!--    </detailed-instructions>-->
          <!-- </crowd-instructions>-->
           
            <p><i>This research study is being conducted by the Steinhardt Group at UC Berkeley. For questions about this study, please contact Dan Hendrycks at hendrycks@berkeley.edu. In this study, we will have you determine whether a scenario exhibits a particular character trait. We would like to remind you that participation in our study is voluntary and that you can withdraw from the study at any time.</i></p>
            <hr/>

            Read each short scenario.
<!--            First, if you think the original scenario is vague or written poorly, please flag it as low quality.-->
<!--            Then for each candidate trait, determine whether that trait is an accurate description of the main person or people in the scenario.<br/>-->
            For each candidate trait, determine whether that trait is an accurate description of the main person or people in the scenario.<br/>
            For reference, here are three example scenarios with three example traits each. Below these examples are the HIT's actual questions.

            <p>
            Examples:<br/>
            1. James always gave his employees extra time off at Christmas.<br/>
                &emsp;a. gloomy (false)</br>
                &emsp;b. ambition (false)</br>
                &emsp;c. benevolent (true)</br>
            2. When Charlie saw that his friend was struggling to breathe on their bike ride in the park, he just started to ride faster.</br>
                &emsp;a. inconsiderate (true)</br>
                &emsp;b. foolish (false)</br>
                &emsp;c. modest (false)</br>
            3. While the family was walking in their neighborhood, they stayed on the sidewalk.<br/>
                &emsp;a. courageous (false)</br>
                &emsp;b. law abiding (true)</br>
                &emsp;c. angry (false)</br>
            </p>

            <b>Scenario: {{ scenario }}</b>
<!--            <p>Question 1: Is this a low quality scenario?</p>-->
<!--            <div>-->
<!--                <crowd-radio-group id="radios" required onchange="enableButton(0)">-->
<!--                    &emsp;<crowd-radio-button name="b0" value="bad" id="is_bad">This is a low quality scenario.</crowd-radio-button><br/>-->
<!--                    &emsp;<crowd-radio-button name="b1" value="good" id="is_good">This is not a low quality scenario.</crowd-radio-button>-->
<!--                </crowd-radio-group>-->
<!--            </div><br/>-->

            <hr/>

            <p>Trait 1. {{ trait1 }}</p>
           <div>
           <crowd-radio-group id="radios" required onchange="enableButton(1)">
             &emsp;<crowd-radio-button name={{v011}} value="good">The trait does accurately describe the scenario.</crowd-radio-button>
               &emsp;<crowd-radio-button name={{v012}} value="bad">The trait does not accurately describe the scenario.</crowd-radio-button><br/>
           </crowd-radio-group>
           </div><br/>
     
           <p>Trait 2. {{ trait2 }}</p><br/>
           <div>
             <crowd-radio-group id="radios" required onchange="enableButton(2)">
             &emsp;<crowd-radio-button name={{v021}} value="good">The trait does accurately describe the scenario.</crowd-radio-button>
                 &emsp;<crowd-radio-button name={{v022}} value="bad">The trait does not accurately describe the scenario.</crowd-radio-button><br/>
           </crowd-radio-group>
           </div><br/>

           <p>Trait 3. {{ trait3 }}</p><br/>
           <div>
             <crowd-radio-group id="radios" required onchange="enableButton(3)">
                 &emsp;<crowd-radio-button name={{v031}} value="good">The trait does accurately describe the scenario.</crowd-radio-button>
                 &emsp;<crowd-radio-button name={{v032}} value="bad">The trait does not accurately describe the scenario.</crowd-radio-button><br/>
           </crowd-radio-group>
           </div><br/>

           <p>Trait 4. {{ trait4 }}</p><br/>
           <div>
             <crowd-radio-group id="radios" required onchange="enableButton(4)">
                 &emsp;<crowd-radio-button name={{v041}} value="good">The trait does accurately describe the scenario.</crowd-radio-button>
                 &emsp;<crowd-radio-button name={{v042}} value="bad">The trait does not accurately describe the scenario.</crowd-radio-button><br/>
           </crowd-radio-group>
           </div><br/>

            <p>Trait 5. {{ trait5 }}</p><br/>
            <div>
                <crowd-radio-group id="radios" required onchange="enableButton(5)">
                    &emsp;<crowd-radio-button name={{v051}} value="good">The trait does accurately describe the scenario.</crowd-radio-button>
                    &emsp;<crowd-radio-button name={{v052}} value="bad">The trait does not accurately describe the scenario.</crowd-radio-button><br/>
                </crowd-radio-group>
            </div><br/>

            <p>Trait 6. {{ trait6 }}</p><br/>
            <div>
                <crowd-radio-group id="radios" required onchange="enableButton(6)">
                    &emsp;<crowd-radio-button name={{v061}} value="good">The trait does accurately describe the scenario.</crowd-radio-button>
                    &emsp;<crowd-radio-button name={{v062}} value="bad">The trait does not accurately describe the scenario.</crowd-radio-button><br/>
                </crowd-radio-group>
            </div><br/>

            <p>Trait 7. {{ trait7 }}</p><br/>
            <div>
                <crowd-radio-group id="radios" required onchange="enableButton(7)">
                    &emsp;<crowd-radio-button name={{v071}} value="good">The trait does accurately describe the scenario.</crowd-radio-button>
                    &emsp;<crowd-radio-button name={{v072}} value="bad">The trait does not accurately describe the scenario.</crowd-radio-button><br/>
                </crowd-radio-group>
            </div><br/>

            <p>Trait 8. {{ trait8 }}</p><br/>
            <div>
                <crowd-radio-group id="radios" required onchange="enableButton(8)">
                    &emsp;<crowd-radio-button name={{v081}} value="good">The trait does accurately describe the scenario.</crowd-radio-button>
                    &emsp;<crowd-radio-button name={{v082}} value="bad">The trait does not accurately describe the scenario.</crowd-radio-button><br/>
                </crowd-radio-group>
            </div><br/>

            <p>Trait 9. {{ trait9 }}</p><br/>
            <div>
                <crowd-radio-group id="radios" required onchange="enableButton(9)">
                    &emsp;<crowd-radio-button name={{v091}} value="good">The trait does accurately describe the scenario.</crowd-radio-button>
                    &emsp;<crowd-radio-button name={{v092}} value="bad">The trait does not accurately describe the scenario.</crowd-radio-button><br/>
                </crowd-radio-group>
            </div><br/>

            <p>Trait 10. {{ trait10 }}</p><br/>
            <div>
                <crowd-radio-group id="radios" required onchange="enableButton(10)">
                    &emsp;<crowd-radio-button name={{v101}} value="good">The trait does accurately describe the scenario.</crowd-radio-button>
                    &emsp;<crowd-radio-button name={{v102}} value="bad">The trait does not accurately describe the scenario.</crowd-radio-button><br/>
                </crowd-radio-group>
            </div><br/>

    <crowd-button id="submit" form-action="submit" variant="primary" disabled>Submit</crowd-button>
    </crowd-form>
    </body>

   <script>
       var count = [0,0,0,0,0,0,0,0,0,0,0];
       function enableButton(i) {
           count[i] = 1;
           var good = true;j
           var j;
           for (j=1; j < 11; j++) {
               if (count[j] != 1) {
                   good = false;
               }
           }
           if (good) {
               document.getElementById("submit").disabled = false;
           }
       }
   </script>

 </html>
 ]]>
 </HTMLContent>
 <FrameHeight>450</FrameHeight>
</HTMLQuestion>
