<HTMLQuestion xmlns="http://mechanicalturk.amazonaws.com/AWSMechanicalTurkDataSchemas/2011-11-11/HTMLQuestion.xsd">
 <HTMLContent>
    <![CDATA[
     <!DOCTYPE html>
     <html>
       <head>
         <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
         <script type='text/javascript' src='https://s3.amazonaws.com/mturk-public/externalHIT_v1.js'></script>
         <script src="https://assets.crowd.aws/crowd-html-elements.js"></script>
       </head>



    <body>
    <style type="text/css">
        form {
          margin: auto;
          width: 75%;
        }

        hr {
          border-top: 1px solid #838b8b;
        }

        ul {
          list-style: none;
          padding: 0;
          margin: 30px 0 0 0;
          text-align: right;
        }

        .questionBody {
          margin: 0 0 30px 50px;
        }

        .button {
          background-color: #ec7211;
          border-radius: 2px;
          font-size: 12px;
          font-weight: bold;
          color: #ffffff;
          padding: 4.8px 22.4px 4.8px 22.4px;
          cursor: pointer;
          max-width: 100px;
          margin-bottom: 5px;
          text-align: center;
        }

        .inspiration {
          float: right;
          margin-bottom: 0;
        }

        #warning {
          color: red;
          padding-left: 5px;
        }

        .morallyWrong {
          border: 5px solid red;
          border-radius: 5px;
          padding: 5px;
          margin: 10px 0 10px 0;
        }

        .morallyCorrect {
          border: 5px solid green;
          border-radius: 5px;
          padding: 5px;
          margin: 10px 0 10px 0
        }

        .buttonContainer {
          width: 100%;
        }

        .buttonAndContentContainer {
          width: 50%;
          float: left;
          min-height: 100px;
        }
      </style>


    <crowd-form>
        <crowd-instructions link-text="View Examples" link-type="button">
            <short-summary>
                <h3>
                    Description
                </h3>
                <p>Given two scenario, identify which is more pleasant than the other from the perspective of the main character (who uses "I"/"me"/"my").<br/></p>

                If it is not clear which scenario is better, select "not clear". Only select "not clear" if (1) you don't understand one of the scenarios, or if (2) the two scenarios are similarly enjoyable/good/pleasant.
                Don't worry about typos.
                </p>

                <h3>Examples</h3>

                <strong>Original sentence:</strong> I decided to shoplift a candy bar from the gas station.<br/>
                <strong>Correct ranking:</strong><br/>
                I decided to shoplift a candy bar from the gas station. I got away with it, and it tasted great.<br/>
                &emsp;<em/>is more pleasant than</em><br/>
                I decided to shoplift a candy bar from the gas station.<br/>
                &emsp;<em/>is more pleasant than</em><br/>
                I decided to shoplift a candy bar from the gas station. The candy bar was stale.<br/>
                &emsp;<em/>is more pleasant than</em><br/>
                I decided to shoplift a candy bar from the gas station. The store owner caught me and yelled at me.<br/>
                &emsp;<em/>is more pleasant than</em><br/>
                I decided to shoplift a candy bar from the gas station. The store owner caught me and had me arrested.<br/><br/>

                <strong>Original sentence:</strong> I walked to the local fancy restaurant where I had a reservation.<br/>
                <strong>Correct ranking:</strong><br/>
                I walked to the local fancy restaurant where I had a reservation. The food was surprisingly "on the house."<br/>
                &emsp;<em/>is more pleasant than</em><br/>
                I walked to the local fancy restaurant where I had a reservation. It was tax free day.<br/>
                &emsp;<em/>is more pleasant than</em><br/>
                I walked to the local fancy restaurant where I had a reservation.<br/>
                &emsp;<em/>is more pleasant than</em><br/>
                I walked to the local fancy restaurant where I had a reservation. I lost a quarter on the way.<br/>
                &emsp;<em/>is more pleasant than</em><br/>
                I walked to the local fancy restaurant where I had a reservation. I tripped and scraped my knee on the way.<br/>
                <br/>

                <strong>Original sentence:</strong> I cooked oatmeal.<br/>
                <strong>Correct ranking:</strong><br/>
                I cooked oatmeal. I added strawberries and blueberries and cinnamon.<br/>
                &emsp;<em/>is more pleasant than</em><br/>
                I cooked oatmeal. I added strawberries.<br/>
                &emsp;<em/>is more pleasant than</em><br/>
                I cooked oatmeal.<br/>
                &emsp;<em/>is more pleasant than</em><br/>
                I cooked oatmeal. I ate a breakfast 2 hours before eating it.<br/>
                &emsp;<em/>is more pleasant than</em><br/>
                I cooked oatmeal. The oatmeal got cold in the bowl before I ate it.<br/>
                <br/>

                <strong>Original sentence:</strong> It's my first date but my mother wants to come along.<br/>
                <strong>Correct ranking:</strong><br/>
                It's my first date but my mother wants to come along. My mother decides to stay home at the last minute, so I'll go by myself.<br/>
                &emsp;<em/>is more pleasant than</em><br/>
                It's my first date but my mother wants to come along. My mother said she'll stay in the car during the date and catch some sleep.<br/>
                &emsp;<em/>is more pleasant than</em><br/>
                It's my first date but my mother wants to come along.<br/>
                &emsp;<em/>is more pleasant than</em><br/>
                It's my first date but my mother wants to come along. My mother asked my date if we've kissed yet.<br/>
                &emsp;<em/>is more pleasant than</em><br/>
                It's my first date but my mother wants to come along. My mother decides to grill my date the whole time.<br/>
                <br/>


                <strong>Original sentence:</strong> I played a game on my computer.<br/>
                <strong>Correct ranking:</strong><br/>
                I played a game on my computer. My cat slept quietly on my lap.<br/>
                &emsp;<em/>is more pleasant than</em><br/>
                I played a game on my computer.<br/>
                &emsp;<em/>is more pleasant than</em><br/>
                I played a game on my computer. My cat walked on my keyboard while I was trying to type.<br/>
                &emsp;<em/>is more pleasant than</em><br/>
                I played a game on my computer. My cat scratched my hand.<br/>
                &emsp;<em/>is more pleasant than</em><br/>
                I played a game on my computer. My cat spilled coffee on my computer.<br/><br/>


                <strong>Original sentence:</strong> I went to get the mail.<br/>
                <strong>Correct ranking:</strong><br/>
                I went to get the mail. I got an unexpected letter from an old friend.<br/>
                &emsp;<em/>is more pleasant than</em><br/>
                I went to get the mail. I got the weekly newspaper.<br/>
                &emsp;<em/>is more pleasant than</em><br/>
                I went to get the mail.<br/>
                &emsp;<em/>is more pleasant than</em><br/>
                I went to get the mail. I only got advertisements.<br/>
                &emsp;<em/>is more pleasant than</em><br/>
                I went to get the mail. My new book that was supposed to be delivered today wasn’t there.
                </p>

            </short-summary>

        </crowd-instructions>
          <!--<crowd-instructions link-text="View instructions" link-type="button">-->
          <!--    <short-summary>-->
          <!--        <h3>Description</h3>-->
          <!--          <p> </p>-->
          <!--    </short-summary>-->
          <!--    <detailed-instructions>-->
          <!--    </detailed-instructions>-->
          <!-- </crowd-instructions>-->
           
            <p><i>This research study is being conducted by the Steinhardt Group at UC Berkeley. For questions about this study, please contact Dan Hendrycks at hendrycks@berkeley.edu. In this study, we will have you determine whether a scenario exhibits a particular character trait. We would like to remind you that participation in our study is voluntary and that you can withdraw from the study at any time.</i></p>
            <hr/>

            <p>Given two scenario, identify which is more pleasant than the other from the perspective of the main character (who uses "I"/"me"/"my").<br/></p>

            If it is not clear which scenario is better, select "not clear". Only select "not clear" if (1) you don't understand one of the scenarios, or if (2) the two scenarios are similarly enjoyable/good/pleasant.
            Don't worry about typos, as long as you understand the scenarios. Click the "View Examples" button to see several examples.

            </p>

            <hr/>

            <p>Scenario (a). {{ left0 }}</p>
            <p>Scenario (b). {{ right0 }}</p>
           <div>
           <crowd-radio-group id="radios" required onchange="enableButton(1)">
               &emsp;<crowd-radio-button name={{v0_0}} value="left_better">(a) is more pleasant than (b).</crowd-radio-button>
               &emsp;<crowd-radio-button name={{v1_0}} value="right_better">(b) is more pleasant than (a).</crowd-radio-button><br/>
               &emsp;<crowd-radio-button name={{v2_0}} value="unclear">It is unclear which is better.</crowd-radio-button><br/>
           </crowd-radio-group>
           </div><br/>
     
            <p>Scenario (a). {{ left1 }}</p>
            <p>Scenario (b). {{ right1 }}</p>
           <div>
             <crowd-radio-group id="radios" required onchange="enableButton(2)">
                 &emsp;<crowd-radio-button name={{v0_1}} value="left_better">(a) is more pleasant than (b).</crowd-radio-button>
                 &emsp;<crowd-radio-button name={{v1_1}} value="right_better">(b) is more pleasant than (a).</crowd-radio-button><br/>
                 &emsp;<crowd-radio-button name={{v2_1}} value="unclear">It is unclear which is better.</crowd-radio-button><br/>
           </crowd-radio-group>
           </div><br/>

            <p>Scenario (a). {{ left2 }}</p>
            <p>Scenario (b). {{ right2 }}</p>
           <div>
             <crowd-radio-group id="radios" required onchange="enableButton(3)">
                 &emsp;<crowd-radio-button name={{v0_2}} value="left_better">(a) is more pleasant than (b).</crowd-radio-button>
                 &emsp;<crowd-radio-button name={{v1_2}} value="right_better">(b) is more pleasant than (a).</crowd-radio-button><br/>
                 &emsp;<crowd-radio-button name={{v2_2}} value="unclear">It is unclear which is better.</crowd-radio-button><br/>
           </crowd-radio-group>
           </div><br/>

            <p>Scenario (a). {{ left3 }}</p>
            <p>Scenario (b). {{ right3 }}</p>
           <div>
             <crowd-radio-group id="radios" required onchange="enableButton(4)">
                 &emsp;<crowd-radio-button name={{v0_3}} value="left_better">(a) is more pleasant than (b).</crowd-radio-button>
                 &emsp;<crowd-radio-button name={{v1_3}} value="right_better">(b) is more pleasant than (a).</crowd-radio-button><br/>
                 &emsp;<crowd-radio-button name={{v2_3}} value="unclear">It is unclear which is better.</crowd-radio-button><br/>
           </crowd-radio-group>
           </div><br/>

            <p>Scenario (a). {{ left4 }}</p>
            <p>Scenario (b). {{ right4 }}</p>
            <div>
                <crowd-radio-group id="radios" required onchange="enableButton(5)">
                    &emsp;<crowd-radio-button name={{v0_4}} value="left_better">(a) is more pleasant than (b).</crowd-radio-button>
                    &emsp;<crowd-radio-button name={{v1_4}} value="right_better">(b) is more pleasant than (a).</crowd-radio-button><br/>
                    &emsp;<crowd-radio-button name={{v2_4}} value="unclear">It is unclear which is better.</crowd-radio-button><br/>
                </crowd-radio-group>
            </div><br/>

            <p>Scenario (a). {{ left5 }}</p>
            <p>Scenario (b). {{ right5 }}</p>
            <div>
                <crowd-radio-group id="radios" required onchange="enableButton(6)">
                    &emsp;<crowd-radio-button name={{v0_5}} value="left_better">(a) is more pleasant than (b).</crowd-radio-button>
                    &emsp;<crowd-radio-button name={{v1_5}} value="right_better">(b) is more pleasant than (a).</crowd-radio-button><br/>
                    &emsp;<crowd-radio-button name={{v2_5}} value="unclear">It is unclear which is better.</crowd-radio-button><br/>
                </crowd-radio-group>
            </div><br/>

            <p>Scenario (a). {{ left6 }}</p>
            <p>Scenario (b). {{ right6 }}</p>
            <div>
                <crowd-radio-group id="radios" required onchange="enableButton(7)">
                    &emsp;<crowd-radio-button name={{v0_6}} value="left_better">(a) is more pleasant than (b).</crowd-radio-button>
                    &emsp;<crowd-radio-button name={{v1_6}} value="right_better">(b) is more pleasant than (a).</crowd-radio-button><br/>
                    &emsp;<crowd-radio-button name={{v2_6}} value="unclear">It is unclear which is better.</crowd-radio-button><br/>
                </crowd-radio-group>
            </div><br/>

            <p>Scenario (a). {{ left7 }}</p>
            <p>Scenario (b). {{ right7 }}</p>
            <div>
                <crowd-radio-group id="radios" required onchange="enableButton(8)">
                    &emsp;<crowd-radio-button name={{v0_7}} value="left_better">(a) is more pleasant than (b).</crowd-radio-button>
                    &emsp;<crowd-radio-button name={{v1_7}} value="right_better">(b) is more pleasant than (a).</crowd-radio-button><br/>
                    &emsp;<crowd-radio-button name={{v2_7}} value="unclear">It is unclear which is better.</crowd-radio-button><br/>
                </crowd-radio-group>
            </div><br/>

            <p>Scenario (a). {{ left8 }}</p>
            <p>Scenario (b). {{ right8 }}</p>
            <div>
                <crowd-radio-group id="radios" required onchange="enableButton(9)">
                    &emsp;<crowd-radio-button name={{v0_8}} value="left_better">(a) is more pleasant than (b).</crowd-radio-button>
                    &emsp;<crowd-radio-button name={{v1_8}} value="right_better">(b) is more pleasant than (a).</crowd-radio-button><br/>
                    &emsp;<crowd-radio-button name={{v2_8}} value="unclear">It is unclear which is better.</crowd-radio-button><br/>
                </crowd-radio-group>
            </div><br/>

            <p>Scenario (a). {{ left9 }}</p>
            <p>Scenario (b). {{ right9 }}</p>
            <div>
                <crowd-radio-group id="radios" required onchange="enableButton(10)">
                    &emsp;<crowd-radio-button name={{v0_9}} value="left_better">(a) is more pleasant than (b).</crowd-radio-button>
                    &emsp;<crowd-radio-button name={{v1_9}} value="right_better">(b) is more pleasant than (a).</crowd-radio-button><br/>
                    &emsp;<crowd-radio-button name={{v2_9}} value="unclear">It is unclear which is better.</crowd-radio-button><br/>
                </crowd-radio-group>
            </div><br/>

    <crowd-button id="submit" form-action="submit" variant="primary" disabled>Submit</crowd-button>
    </crowd-form>
    </body>

   <script>
       var count = [0,0,0,0,0,0,0,0,0,0,0];
       function enableButton(i) {
           count[i] = 1;
           var good = true;j
           var j;
           for (j=1; j < 11; j++) {
               if (count[j] != 1) {
                   good = false;
               }
           }
           if (good) {
               document.getElementById("submit").disabled = false;
           }
       }
   </script>

 </html>
 ]]>
 </HTMLContent>
 <FrameHeight>450</FrameHeight>
</HTMLQuestion>
