<HTMLQuestion xmlns="http://mechanicalturk.amazonaws.com/AWSMechanicalTurkDataSchemas/2011-11-11/HTMLQuestion.xsd">
    <HTMLContent>
    <![CDATA[
    <!DOCTYPE html>
    <html>
      <head>
        <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
        <script type='text/javascript' src='https://s3.amazonaws.com/mturk-public/externalHIT_v1.js'></script>
        <!-- You must include this JavaScript file -->
        <script src="https://assets.crowd.aws/crowd-html-elements.js"></script>
        <!-- For the full list of available Crowd HTML Elements and their input/output documentation,
    please refer to https://docs.aws.amazon.com/sagemaker/latest/dg/sms-ui-template-reference.html -->
        <style type="text/css">
            #trait1,
            #trait2,
            #untrait1,
            #untrait2 {
              width: 550px;
            }
            form {
              margin: auto;
              width: 66%;
            }
            hr {
              border-top: 1px solid #ec7211;
            }
            .questionBody {
              margin: 0 0 30px 50px;
            }
            .suggestion {
              background-color: #ec7211;
              border-radius: 2px;
              font-size: 12px;
              font-weight: bold;
              color: #ffffff;
              padding: 4.8px 22.4px 4.8px 22.4px;
              cursor: pointer;
            }

            .suggestiontop {
            float: right;
            margin-top: -33px;
            background-color: #ec7211;
            border-radius: 2px;
            font-size: 12px;
            font-weight: bold;
            color: #ffffff;
            padding: 4.8px 22.4px 4.8px 22.4px;
            cursor: pointer;
          }

            .suggestionButtonsContainer {
                display: flex;
                justify-content: space-between;
                padding-top: 10px;
            }

            #messageContainer {
                height: 80px;
                text-align: center;
            }

            .Sentence {
                border: 1px solid #ec7211;
                border-radius: 2px;
                padding: 10px;
            }

            .reminder {
                border: 1px solid #ec7211;
                border-radius: 2px;
                padding: 10px;
                background-color: #ec7211;
            }
        </style>
      </head>
      <body>
        <!-- You must include crowd-form so that your task submits answers to MTurk -->
        <crowd-form answer-format="flatten-objects">
          <div class="formContainer">
            <crowd-instructions link-text="View Examples" link-type="button">
              <short-summary>
                <h3>
                  Description
                </h3>
                <p> Modify the subject of the sentence to "I/me/my" and 
Please write similarly worded scenarios that each demonstrate a different virtue or vice.<br/></p>

              </short-summary>

            </crowd-instructions>

            <p><i><small>This research study is being conducted by the Steinhardt Group at UC Berkeley. For questions about this study, please contact Dan Hendrycks at hendrycks@berkeley.edu. In this study, we will ask you to write similarly worded scenarios that each demonstrate a different virtue or vice. We would like to remind you that participation in our study is voluntary and that you can withdraw from the study at any time.</small></i></p>
            <hr/>

            <p>
            
            <br/><br/>

            </p>


            <div class="Sentence">
                <p>
                  <strong>
                    Change the subject of the sentence throughout to "I/my/me" without changeing the meaning.
                  </strong><br/>
                    Original Sentence: {{sent0}}
                  <crowd-input id="orig_sentence0" name="orig_sentence0" placeholder="Example sentence here." type="hidden" style="display:none"></crowd-input> 
 
                  <crowd-input id="sentence0" name="sentence0" placeholder="Example sentence here."  required></crowd-input> 
                </p>
            </div>

            <div class="Sentence">
                <p>
                  <strong>

                    Change the subject of the sentence throughout to "I/my/me" without changeing the meaning.
                  </strong><br/>

                    Original Sentence: {{sent1}}
                  <crowd-input id="orig_sentence1" name="orig_sentence1" placeholder="Example sentence here." type="hidden" style="display:none"></crowd-input>
                  <crowd-input id="sentence1" name="sentence1" placeholder="Example sentence here."  required></crowd-input>
                </p>
            </div>

            <div class="Sentence">
                <p>
                  <strong>
                    Change the subject of the sentence throughout to "I/my/me" without changeing the meaning.
                  </strong><br/>

                    Original Sentence: {{sent2}}
                  <crowd-input id="orig_sentence2" name="orig_sentence2" placeholder="Example sentence here." type="hidden" style="display:none"></crowd-input>
                  <crowd-input id="sentence2" name="sentence2" placeholder="Example sentence here."  required></crowd-input>
 
                </p>
            </div>

            <div class="Sentence">
                <p>
                  <strong>
                    Change the subject of the sentence throughout to "I/my/me" without changeing the meaning.
                  </strong><br/>

                    Original Sentence: {{sent3}}
                  <crowd-input id="orig_sentence3" name="orig_sentence3" placeholder="Example sentence here." type="hidden" style="display:none"></crowd-input>
                  <crowd-input id="sentence3" name="sentence3" placeholder="Example sentence here."  required></crowd-input>
 
                </p>
            </div>

            <div class="Sentence">
                <p>
                  <strong>
                    Change the subject of the sentence throughout to "I/my/me" without changeing the meaning.
                  </strong><br/>

                    Original Sentence: {{sent4}}
                  <crowd-input id="orig_sentence4" name="orig_sentence4" placeholder="Example sentence here." type="hidden" style="display:none"></crowd-input>
                  <crowd-input id="sentence4" name="sentence4" placeholder="Example sentence here."  required></crowd-input>
 
                </p>
            </div>

            <div class="Sentence">
                <p>
                  <strong>
                    Change the subject of the sentence throughout to "I/my/me" without changeing the meaning.
                  </strong><br/>

                    Original Sentence: {{sent5}}
                  <crowd-input id="orig_sentence5" name="orig_sentence5" placeholder="Example sentence here." type="hidden" style="display:none"></crowd-input>
                  <crowd-input id="sentence5" name="sentence5" placeholder="Example sentence here."  required></crowd-input>
 
                </p>
            </div>

            <div class="Sentence">
                <p>
                  <strong>
                    Change the subject of the sentence throughout to "I/my/me" without changeing the meaning.
                  </strong><br/>

                    Original Sentence: {{sent6}}
                  <crowd-input id="orig_sentence6" name="orig_sentence6" placeholder="Example sentence here." type="hidden" style="display:none"></crowd-input>
                  <crowd-input id="sentence6" name="sentence6" placeholder="Example sentence here."  required></crowd-input>
 
                </p>
            </div>

            <div class="Sentence">
                <p>
                  <strong>
                    Change the subject of the sentence throughout to "I/my/me" without changeing the meaning.
                  </strong><br/>

                    Original Sentence: {{sent7}}
                  <crowd-input id="orig_sentence7" name="orig_sentence7" placeholder="Example sentence here." type="hidden" style="display:none"></crowd-input>
                  <crowd-input id="sentence7" name="sentence7" placeholder="Example sentence here."  required></crowd-input>
 
                </p>
            </div>

            <div class="Sentence">
                <p>
                  <strong>
                    Change the subject of the sentence throughout to "I/my/me" without changeing the meaning.
                  </strong><br/>

                    Original Sentence: {{sent8}}
                  <crowd-input id="orig_sentence8" name="orig_sentence8" placeholder="Example sentence here." type="hidden" style="display:none"></crowd-input>
                  <crowd-input id="sentence8" name="sentence8" placeholder="Example sentence here."  required></crowd-input>
 
                </p>
            </div>

            <div class="Sentence">
                <p>
                  <strong>
                    Change the subject of the sentence throughout to "I/my/me" without changeing the meaning.
                  </strong><br/>

                    Original Sentence: {{sent9}}
                  <crowd-input id="orig_sentence9" name="orig_sentence9" placeholder="Example sentence here." type="hidden" style="display:none"></crowd-input>
                  <crowd-input id="sentence9" name="sentence9" placeholder="Example sentence here."  required></crowd-input>
 
                </p>
            </div>


            <br/>
            <br/>
            <span class="suggestion">Debug Button</span>
            <br/>
            <br/>
            <span class="suggestion">Sanity Check</span>


           <div id="messageContainer"></div>
          </div>
        </crowd-form>

        <script language='Javascript'>turkSetAssignmentID();</script>
        <script>

           sentences = [
               "{{sent0}}",
               "{{sent1}}",
               "{{sent2}}",
               "{{sent3}}",
               "{{sent4}}",
               "{{sent5}}",
               "{{sent6}}",
               "{{sent7}}",
               "{{sent8}}",
               "{{sent9}}", 
           ];

           function debug() {
                
                var sentence = document.getElementById('sentence1');
                sentence.value = "{{sent1}}";
                
           }
           function sanity() {
                allTrue = 1
                for (i = 0; i < sentences.length; i++) {
                    which_sent = "sentence".concat(i.toString());
                    var sentence = document.getElementById(which_sent);
                    my_str = sentence.value;
                    if (my_str.toLowerCase().includes("i ") || my_str.toLowerCase().includes("me ") || my_str.toLowerCase().includes("my "))
                {
                    allTrue += 1;
                }
                if (allTrue === sentences.length) {
                     document.querySelector('crowd-button').disabled = false;
                }
           }            
 
            var buttons = {
                'Debug Button': debug,
                'Sanity Check': sanity,
            } 
            function onClick(event) {
                var buttonType = event.srcElement.textContent;
                buttons[buttonType]();
            }
            function addEvent(button) {
                button.addEventListener('click', onClick);
            }
            document.querySelectorAll('.suggestiontop').forEach(addEvent);

            
            // Traverse DOM for dynamically inserted Submit button to disable
            function disable() {
                document.querySelector('crowd-button').disabled = true;
                for (i = 0; i < sentences.length; i++) {
                    which_sent = "sentence".concat(i.toString());
                    var sentence = document.getElementById(which_sent);
                    sentence.value = sentences[i];
                    which_sent = "orig_sentence".concat(i.toString());
                    var sentence = document.getElementById(which_sent);
                    sentence.value = sentences[i];
                }
            }
            setTimeout(disable, 3000);
        </script>
      </body>
    </html>
  ]]>
    </HTMLContent>
    <FrameHeight>450</FrameHeight>
</HTMLQuestion>
